---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="A Propos"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  heroImage="/ina.jpg">
  <p>
    Je suis ZeitounMax, j'ai 33 ans et je traine sur le net depuis 1999. J'ai
    découvert le monde merveilleux de l'informatique à l'âge de mes 7 ans en
    découvrant l'Olivetti 386 sous Windows 3.1 et aussi les nombreuses
    disquettes de jeux que mon oncle à pu me donner. J'ai découvert la bulle
    d'internet Française avec Caramail,Lycos mais aussi JeuxVidéo.Com. J'ai
    commencé à m'intéresser à écrire des blogues à partir de 2005 via les petits
    blog d'orange et ensuite j'ai appris à utiliser les
    skyblogs,blogsport,overblog et autres.. En 2022 lors d'une formation de
    concepteur Design UI j'ai créer un site sous Wordpress pour une association
    de maison de quartier <em>A retrouver sur mon portfolio</em> . En 2022-2023 je
    suis un cursus de Developpement Web Fullstack et je code sur React, Express,SQL
    mais aussi Astro etc . . <em>Il y a un lien Github</em> . Je suis quelqu'un qui
    aime avoir la double casquette pour le design et le code et j'adore ça . . .
  </p>

  <p>
    Concernant la culture Otak : J'ai découvert les animes via le ClubDo ,
    Canal+,Ab1 et Mangas. J'ai passé mon adolescent de 17ans à 28ans devant
    Nolife et à trainer sur des forums,sites etc .. Mes animes favoris sont :
    <strong
      ><ul>Card Captor Sakura</ul>

      <ul>Ranma1/2</ul>
      <ul>Evangelion</ul>
      <ul>Haruhi Suzumiya</ul>
      <ul>Macross7</ul>
      <ul>SerialExperimental Lain</ul>
      <ul>K-On!</ul>
      <ul>Clannad</ul>
      <ul>Tenchi Muyo</ul></strong
    >
  </p>

  <p>
    Niveau Jeu, je suis un fan de jeux vidéo très Cozy comme
    AnimalCrossing,HarvestMoon ..De Civisilation,de Versus Fighting,de JRpg, de
    Shump,de l'arcade, mais aussi de Plateformer et de FPS
  </p>
</Layout>
