---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Bienvenue!</h1>
      <p>
        Bienvenue dans ma caverne qui est mon blog. Alors mon blog c'est quoi ?
        Juste des choses que je vais marquer que ça soit en rapport avec le dev,
        la tech mais aussi sur le cinéma, la musique et la culture d'otaku
      </p>
    </main>
    <Footer />
  </body>
</html>
